.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 595px;
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  .login-box {
    padding: 20px;  
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 400px;
  }
  mat-toolbar{
    margin-bottom: 25px;
  }
  .row{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .remember{
    margin-right: 110px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .rowbutton{ 
     margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    
  }
  .rowmail{
    margin: 0 auto;
    margin-left: 20%;
    margin-bottom:20px
  }
  .head{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
   font-size: 20px;

  }
  .danger{
    color: #ff0000;
    margin-right: 100px;
  }
  .head{
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  p{
    color: #f1f1f1;
  }